body {
    background-color: rgb(77, 112, 77);
    color: white;
}

table, td {
    border: 1px solid white;
  }

td {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
}